[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "<2.1,>=2.0"
django-allauth = "==0.35.0"
django-extensions = "*"
django-filter = "*"
django-redis = "*"
djangorestframework = "<3.8,>=3.7"
gitpython = "*"
gunicorn = "*"
ipython = "*"
kombu = "<5.0,>=4.0.2"
"psycopg2-binary" = "*"
pytz = "*"
python-dotenv = "*"
tweepy = "==3.5.0"
ujson = "*"
numpy = "*"
pycountry = "*"


[dev-packages]

pytest = "*"
