[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

celery = "==3.1.18"
django = "==1.8.5"
django-allauth = "==0.21.0"
django-extensions = "*"
django-filter = "==0.11.0"
django-jsonfield = "==0.9.15"
django-redis = "*"
djangorestframework = "==3.2.4"
gitpython = "==1.0.1"
gunicorn = "*"
ipython = "*"
kombu = "==3.0.35"
"psycopg2" = "*"
pytz = "*"
python-dotenv = "*"
tweepy = "==3.5.0"
ujson = "*"
numpy = "*"
pycountry = "*"


[dev-packages]

pytest = "*"
