{% extends "rest_framework/base.html" %}


{% load staticfiles %}


{% block title %}Albatross :: API{% endblock title %}


{% block style %}
  <link rel="stylesheet" href="{% static 'contrib/yeti/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'contrib/yeti/fonts.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
  <link rel="stylesheet" href="{% static 'contrib/fontawesome/css/font-awesome.min.css' %}" />
{% endblock %}


{% block branding %}
  <a class='navbar-brand' rel="nofollow" href='{% url 'index' %}'>
    Albatross <small style="opacity: 0.8">Collect whatever is said, about whatever you like.</small>
  </a>
{% endblock %}


{% block userlinks %}
  {% include 'albatross/navigation.html' %}
{% endblock userlinks %}


{% block body %}

  {{ block.super }}

  <div class="clearfix"></div>

  <script type="application/javascript">
    $('[data-toggle="tooltip"]').tooltip();
  </script>

{% endblock body %}
