{% extends 'albatross/base.html' %}


{% block content %}

  <div class="col-md-8 col-lg-6">
    <h2>What is This?</h2>
    <p>
      This project is largely an experiment that may one day grow into something
      useful for more than just a handful of people.
    </p>
    <blockquote><p>
      The idea is simple: Albatross is a way for you to capture everything said
      about something and then analyse the raw data yourself or let this site
      visualise it for you.
    </p></blockquote>
    <p>
      Say you're at a conference that's managing the conversation with the
      hashtag: <span class="label label-primary"><strong>#awesomeconference</strong></span>.
      You're participating when you can, but it would be really nice to be able
      to collect everything everyone said during the conference and draw some
      conclusions from it.
    </p>
    <p>
      Maybe you want to do some analytics based on some natural language
      processing, or want to chart the number of times a particular phrase was
      mentioned within that hashtag.  Whatever you want to do with the data,
      just fill out the form here with the hashtag in question, hit
      <span class="label label-primary"><strong>submit</strong></span> and when
      the conference ends, you've got all the data to play with.
    </p>
    <p>
      Similarly this can be used for international events, or national disaster
      coverage.  Plot on a map the tweets posted about your subject and when,
      or analyse the content of the tweets to see what different regions are
      saying about a particular subject.
    </p>
    <h2>Can You Do That For Me?</h2>
    <p>
      Analytics and visualisation is hard, and not everyone has the time or
      inclination to figure out how to parse the JSON blobs Twitter makes
      available via their API.  Thankfully, Albatross has a bunch of built-in
      visualisations that might be sufficient for many people, but if you need
      something more customised, you can open an issue and I can give it a
      shot.  Of course, contributions are welcome!
    </p>
    <h2>Data Format</h2>
    <p>
      The raw data is available as a xzip-compressed "fjson" file.  This is just
      a plain text file, with one JSON object per line.  You can decompress this
      file in Linux &amp; Mac with the <code>xz</code> utility, or use a common
      program like WinRar in Windows.
    </p>
  </div>

{% endblock content %}
