{% extends 'albatross/base.html' %}


{% block content %}

  <div class="col-md-8 col-lg-6">
    <h2>Contact</h2>
    <p>
      TweetPile is still quite new so there's bound to be questions in need of
      answers out there.  Please use this form to ask whatever you like, and
      we'll get back to you as soon as possible.
    </p>
    <form method="post" class="contact">
      {{ form.as_p }}
      <div class="col-md-6 col-md-offset-3">
        {% csrf_token %}
        <input type="submit" name="s" value="Send" class="btn btn-primary btn-block">
      </div>
    </form>
  </div>

{% endblock content %}
